@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.slick-arrow.slick-prev {
  background: black !important;
}
.slick-arrow.slick-next {
  background: black !important;
}
